#conteudo {
    background: #dcdcdc;
    height: 600px;
    display: flex;
    /* flex-direction: row; /*consegui defini as direções*/
    /* flex-wrap: wrap-reverse; /*quebrar de layout*/
    /* justify-content: space-around; /* muda a posição do conteudo*/
     align-items: baseline; /* alinhamento de um certo itens*/

}

.item {
    width: 100px;
    height: 100px;
    margin: 10px;
    background: white;
    border: 10px solid rgb(111, 0, 255);
    flex-grow:0;/*Define a proporção de espaço ocupado por um i tem*/
    flex-shrink: 1;
}
