    #conteudo {
        background: #dcdcdc;
        height:600px;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
    /* flex-direction: row; /*consegui defini as direções*/
    /* flex-wrap: wrap-reverse; /*quebrar de layout*/
    /* justify-content: space-around; /* muda a posição do conteudo*/
    /* align-items: baseline; /* alinhamento de um certo itens*/
}

.item {
   /* width: 100px;*/
    height: 100px;
    margin: 10px;
    background: white;
    border: 1px solid red;
    flex-basis:100px;/*Define o tamanho  inicial do flex itens antes da distribuição do espaço restante.*/
}
/*.item1{
   flex-grow:1;
}*/
.item2{
    flex-grow:1;
}
.item3{
    flex-grow:3;
}
/*.item4{
    flex-grow:7;
}