
#conteudo{
    background: #dcdcdc;
    height: 600px;
    display: flex;
  /*  flex-direction:row ;/*consegui defini as direções*/
   /* flex-wrap:wrap-reverse ;/*quebrar de layout*/
    justify-content:space-evenly;/* muda a posição do conteudo*/
}
.item{
    width: 100px;
    height: 100px;
    margin: 10px;
    background: white;
    border: 1px solid gray;
   
}