body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
h2{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    background-color: rgb(68, 0, 255);
    margin: 0 auto;
    padding: 5px;
    width:600px;
}
table{
    width: 600px;
    margin: 0 auto;
    border-collapse: collapse;

}
th, td{
       padding: 7px;
}
th{                                    /*titulo*/
    text-transform: uppercase;/* Tudo em maiusculo*/
    border-top: 1px solid #999;
    border-bottom: 1px solid #111;
    text-align: left;
    font-size: 90%;
    letter-spacing: 0.1em;/*Espaço entre as letras*/
}
tr.alternado{
    background-color: #efefef;
}
tr:hover{
    background-color: aqua;
}
.numero{
    text-align: right;/* direita*/
}