body{
    background-image: url(imagens/fundo.png);
}
#principal{
    width: 97%;
}
#menu{
    width: 85%;
    background-color: rgb(213, 206, 206);
    text-decoration: none;
    padding: 18px;
 }
 .conteudo{
    width: 87%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 249, 249);
    margin-top: -14px;
    padding-bottom: 10PX ;

h1{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: grey;
    text-indent: 10px;
    padding: 10px ;
    
}
p{
    text-align: justify;
    text-indent: 15px;
    margin: 5px;
    
}
.rodape p{
    text-align: center;
}
a{
    
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
}